<ng-container *ngIf="questions$ | async as questions">
    <p *ngIf="questions.length == 0" class="mt-5"><em>Loading...</em></p>

    <div *ngIf="questions.length > 0">
        <div
            *ngIf="!(result$ | async)"
            class="test-container container d-flex flex-column justify-content-center align-text-center mt-4 p-3 rounded gap-2"
        >
            <h3>{{ questions[currentQuestionNumber].questionText }}</h3>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group d-flex flex-column gap-2">
                    <div
                        class="d-flex flex-row gap-2"
                        *ngFor="
                            let answerOption of questions[currentQuestionNumber]
                                .answerOptions
                        "
                    >
                        <input
                            id="{{ answerOption.optionNumber }}"
                            type="radio"
                            value="{{ answerOption.optionNumber }}"
                            name="option"
                            formControlName="option"
                        />
                        <label for="{{ answerOption.optionNumber }}">{{
                            answerOption.optionText
                        }}</label>
                    </div>
                    <div
                        *ngIf="
                            form.controls.option.touched &&
                            form.controls.option.invalid
                        "
                        class="alert alert-danger"
                    >
                        <div
                            *ngIf="form.controls.option.errors == ['required']"
                        >
                            Answer is required.
                        </div>
                    </div>
                </div>
                <button
                    *ngIf="currentQuestionNumber !== questionCount"
                    class="btn btn-primary mt-4"
                    type="submit"
                    [disabled]="!form.valid"
                >
                    Submit
                </button>
                <button
                    *ngIf="currentQuestionNumber === questionCount"
                    class="btn btn-primary mt-4"
                    type="submit"
                    [disabled]="!form.valid"
                >
                    Finish
                </button>
            </form>
        </div>
        <div
            class="test-container container d-flex flex-column justify-content-center align-text-center mt-4 p-3 rounded gap-2"
            *ngIf="result$ | async as result"
        >
            <p>Your test result is: {{ result }}</p>
            <button class="btn btn-info" (click)="back()">
                Back to test list
            </button>
        </div>
    </div>
</ng-container>
