<div class="d-flex flex-column gap-5">
    <div *ngIf="userTests$ | async as userTests">
        <div *ngIf="userTests.length > 0" class="p-1">
            <h1 *ngIf="userTests.length > 0" class="m-0 mt-3 font-weight-bold">
                Tests:
            </h1>
            <hr />
            <div
                *ngFor="let userTest of userTests"
                class="test-list-container container d-flex flex-row justify-content-center align-text-center mt-3 p-1 rounded gap-5"
            >
                <p class="m-0">{{ userTest.test.title }}</p>
                <p class="m-0">
                    Questions count: {{ userTest.test.questionCount }}
                </p>
                <button class="btn btn-info" (click)="confirmDialog(userTest?.test)">
                    Start
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="completedUserTests$ | async as completedUserTests" >
        <div *ngIf="completedUserTests.length > 0" class="p-1">
            <h1
                *ngIf="completedUserTests.length > 0"
                class="m-0 mt-3 font-weight-bold"
            >
                Completed tests:
            </h1>
            <hr />
            <div
                *ngFor="let userTest of completedUserTests"
                class="test-list-container container d-flex flex-row justify-content-center align-text-center mt-3 p-1 rounded gap-5"
            >
                <p class="m-0">{{ userTest.test.title }}</p>
                <p class="m-0">Rating: {{ userTest.rating }}</p>
            </div>
        </div>
    </div>
</div>
