<div
    class="confirmation-container mat-dialog-content d-flex flex-column justify-content-center align-text-center mt-4 p-3 gap-2">
    <p>Are you sure you want to start this test?</p>
    <p>Short test description: {{ data?.description }}</p>
    <div class="d-flex flex-row gap-4 align-text-center">
        <div class="d-flex flex-row align-items-center gap-2">
            <input type="checkbox" id="agreement" (change)="changeEvent()" />
            <label for="agrement">I agree to start</label>
        </div>
        <button class="btn btn-danger" [disabled]="toggleBool" (click)="proceed()">
            Proceed
        </button>
    </div>
</div>